body {
    background: url('../img/beta/bg-repeat.jpg') repeat-x;
    min-height: 100vh;
    background-size:auto 100%;
    color: #fff;
    text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5);
    font-size: 16px;
    font-weight: bold;
}

#background {
    background: url('../img/beta/bg-kids.png') bottom right no-repeat;
    min-height: 100vh;
    background-size:auto 100%;
}

@font-face {
    font-family: 'Lane';
    src: url('../fonts/lanenar_Lane.eot');
    src: url('../fonts/lanenar_Lane.eot?#iefix') format('embedded-opentype'), url('../fonts/lanenar_Lane.woff') format('woff'), url('../fonts/lanenar_Lane.ttf') format('truetype'), url('../fonts/lanenar_Lane.svg#Lane') format('svg');
    font-weight: normal;
    font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {

    @font-face {
        font-family: 'Lane';
        src: url('../fonts/lanenar_Lane.svg#Lane') format('svg');
    }
}

img.logo {
    width: 175px;
}

img.phones {
    width: 90%;
}

p.lead {
    font-family: 'Lane', sans-serif;
    font-weight: bolder;
    font-size: 32px;
    margin-top: 25px;
    text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3);
}

p {
    font-family: 'Lane', sans-serif;
    font-weight: bolder;
    font-size: 20px;
    text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5);
}

label {
    font-size: 16px;
}